<div class="d-flex flex-column">
    <h2>Filter</h2>
    <div class="btn-group mb-3">
        <button type="button" class="btn btn-light dropdown-toggle" id="genreDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="updateGenre(event, 'fiction')">Fiction</a></li>
            <li><a class="dropdown-item" href="#" onclick="updateGenre(event, 'mystery')">Mystery</a></li>
            <li><a class="dropdown-item" href="#" onclick="updateGenre(event, 'fantasy')">Fantasy</a></li>
        </ul>
    </div>
    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Author/Title">

    <button type="button" class="btn btn-primary mb-3" onclick="redirectToSearch()">Search</button>


</div>
<script type="text/javascript">
    var selectedGenre = '';

    function updateGenre(event, genre) {
        event.preventDefault();
        selectedGenre = genre;
        document.getElementById('genreDropdownButton').textContent = genre;
    }

    function redirectToSearch() {
        var input = document.getElementById('searchInput');
        var value = input.value;
        location.href = '?searchString=' + encodeURIComponent(value) + '&subject=' + encodeURIComponent(selectedGenre);
    }
</script>



