<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal content for login form goes here -->
        </div>
    </div>
</div>
