@model GoogleBooksApp.Models.ViewModels.BooksListViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12">
            @await Html.PartialAsync("_GenreDropdown")
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12">
            <h1>Book List</h1>
            <div class="page-item btn-group" page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"></div>

            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Description</th>
                    <th>Published Date</th>
                    <th>Cover</th>
                </tr>
                </thead>
                <tbody>
                @await Html.PartialAsync("_BookSummary", Model)
                </tbody>
            </table>
        </div>
        
    </div>
</div>
